<?xml version="1.0" ?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

<servlet>
<servlet-name>captchatoimage</servlet-name>
<servlet-class>com.octo.captcha.j2ee.servlet.ImageCaptchaToImageServlet</servlet-class>
<load-on-startup>10</load-on-startup>
</servlet>

<servlet>
    <servlet-name>captchaengine</servlet-name>
    <servlet-class>com.octo.captcha.j2ee.servlet.ImageCaptchaEngineInitializerServlet</servlet-class>
    <init-param>
        <param-name>engineClass</param-name>
        <param-value>com.octo.captcha.image.gimpy.FilteredGimpyEngine</param-value>
 </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
<servlet-name>captchatoimage</servlet-name>
<url-pattern>servlet/captchatoimage</url-pattern>
</servlet-mapping>
  <!-- Your servlet definitions go here  -->

<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>

</web-app>