<HTML>
<HEAD>
    <TITLE>JCAPTCHA</TITLE>
</HEAD>

<BODY>
This is the base package for jcaptcha components.</br>
Components are used by captcha factories to build captchas. </br>
In this package you will only find sub packages :
<ul>
    <li>General Components packages : those components are used by captcha factory to build captchas.</li>
    <li>Typed Components packages : those components are used by captcha factory to build typed captchas.
        you will find more information about it in image and sound sub packages. </li>

</ul>
</body>
</html>